.library {
  &-title {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
  }
  &-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &-card{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    &:hover{
      color: inherit;
    }
    img{
      user-select: none;
      pointer-events: none;
      width: 100%;
      height: auto;
    }
    span{
      margin-top: 1rem;
      text-align: center;
      font-size: 16px;
    }
    }
  &-add {
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    color: #636b6f;
  }
}
